body {
  background-color: aqua;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

#navbar {
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(201, 199, 99);
}

#navbar a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 2.0em;
  border-radius: 1px;
  border-color: black;
  color: rgb(34, 36, 178);
  transition: 0.1s;
}

/* .module-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  float: none;
  width: 20%;
  font-size: xx-large;
  border-color: black;
  border-style: ridge;
  margin-right: 20%;
  height: 200px
}

.module-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  float: none;
  width: 20%;
  font-size: xx-large;
  border-color: black;
  border-style: ridge;
  margin-left: 20%;
  height: 200px
}
 */
