.about {
    margin-right: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    overflow: scroll;
    color: white;
}

.about ol {
    font-size: xx-large;
}



