#modules-page {
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    column-gap: 40px;
}

#create-module {
    display: flex;
    column-gap: 60px;
}

#new-lesson {
    padding: 3%;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: black;
    height: 20px;
}

#delete-lesson {
    display: flex;
    height: 20px;
    width: 150px;
}
