#modules-page {
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    position:relative;
    gap: 10px;
}

#create-module {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
#create-module #new-lesson {
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: black;
    height: 20px;
}

h2 {
    padding-top: -5%;;
}