.module-card {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    width: 25vw;
    height: 50vh;
    text-align: left;
    border-style: solid;
    border-color: white;
    font-size: x-large;
    background: var(--color-bg-variant);
}

.lesson-language{
    height: 5vh;
}

.lesson-difficulty{
    height: 5vh;
}

.lesson-description{
    height: 20vh;
}

h2 {
    padding-left: 50px;
}